.demo-row-is-clicked {
  font-weight: bold;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.example-container .mat-form-field + .mat-form-field {
  align-content: center;
  margin:50px;
}

.example-container{
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 15px;
}


button{
  margin: 50px;
  margin-right: 100px;
}

.motivo{
  margin-left: 50px;
  margin-right: 100px;
}

table {
  width: 90%;
  margin-left: 5%;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}


