<h1 mat-dialog-title>Productos</h1>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </th>
    <td mat-cell *matCellDef="let paciente"> {{ paciente.codigo }} </td>
  </ng-container>
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
    <td mat-cell *matCellDef="let paciente"> {{ paciente.nombre }} </td>
  </ng-container>
  <ng-container matColumnDef="precioVenta">
    <th mat-header-cell *matHeaderCellDef> Precio </th>
    <td mat-cell *matCellDef="let paciente"> {{ paciente.precioVenta }} </td>
  </ng-container>

  <tr
    mat-row
    (click)="seleccionarProducto(row)"
    [class.demo-row-is-clicked] = "data.codigo === row.codigo"
    *matRowDef="let row; columns: columns;"

  ></tr>

</table>


<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button [mat-dialog-close]="data" color="primary">Añadir</button>
</div>
