<div class="container">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo: Neo" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 demo-table">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="numFactura">
        <th mat-header-cell *matHeaderCellDef>Factura</th>
        <td mat-cell *matCellDef="let element">{{element.numFactura}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let element">{{element.fecha | date:'dd/MM/yyyy'}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let element">{{element.cliente.nombreApellido}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element">{{element.total}}</td>
      </ng-container>


      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-description">
              <span *ngFor="let detalle of element.detalles"><b> Producto:</b> {{detalle.producto.nombre}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Cantidad:</b> {{detalle.cantidad}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Total detalle:</b> {{detalle.totalDetalle}}<br></span>
            </div>
          </div>
        </td>
      </ng-container>


      <ng-container matColumnDef="editar">
        <th mat-header-cell  *matHeaderCellDef > Editar </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="modificarCabecera(element)"> <mat-icon color="primary">edit</mat-icon></button>
        </td>
      </ng-container>

      <ng-container matColumnDef="eliminar">
        <th mat-header-cell  *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element" >
          <button mat-button (click)="eliminarCabecera(element.ruc)"> <mat-icon color="warn">delete</mat-icon> </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No se encontro el dato "{{input.value}}"</td>
      </tr>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </table>
  </div>
</div>
