<h1 *ngIf="!data.modificar" mat-dialog-title>Crear un nuevo producto</h1>
<h1 *ngIf="data.modificar" mat-dialog-title>Modificar producto</h1>

<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input *ngIf="!data.modificar" [(ngModel)]="data.nombre" matInput required>
    <input *ngIf="data.modificar" [(ngModel)]="data.nombre" matInput [disabled]="true">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Precio de venta</mat-label>
    <input [(ngModel)]="data.precioVenta" matInput required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Existencia</mat-label>
    <input [(ngModel)]="data.existencia" matInput>
  </mat-form-field>
</mat-dialog-content>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Guardar</button>
  </div>

