<h1 *ngIf="!data.modificar" mat-dialog-title>Nueva venta</h1>
<h1 *ngIf="data.modificar" mat-dialog-title>Modificar venta</h1>

<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Factura</mat-label>
    <input *ngIf="!data.modificar" [(ngModel)]="data.factura" matInput required>
    <input *ngIf="data.modificar" [(ngModel)]="data.factura" matInput [disabled]="true">
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Fecha</mat-label>
    <input matInput [(ngModel)]="data.fecha" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Total</mat-label>
    <input [(ngModel)]="data.total" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cliente</mat-label>
    <mat-select [(ngModel)]="data.cliente">
      <mat-option *ngFor="let cliente of clientes" [value]="cliente">
        {{cliente.ruc }} {{  cliente.nombreApellido}}
      </mat-option>
    </mat-select>
  </mat-form-field>



  <app-lista-detalles (newItemEvent)="cargarDetalles($event)"
  (total)="cargarTotalDetalle($event)"></app-lista-detalles>

  <!--
    <mat-form-field appearance="fill">
      <mat-label>Cliente</mat-label>
      <input [(ngModel)]="data.cliente" matInput>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Detalles</mat-label>
      <input [(ngModel)]="data.detalles" matInput>
    </mat-form-field>

   -->
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Guardar</button>
</div>

