<div class="container">
  <mat-form-field appearance="standard">
    <mat-label>Filtro por Cliente</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtro por Cliente" #input>
  </mat-form-field>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Rango de fechas</mat-label>
    <mat-date-range-input
      [formGroup]="rangoFecha"
      [rangePicker]="rangoFechaPicker"  >
      <input matStartDate placeholder="Start date" formControlName="start" >
      <input matEndDate (dateChange)="applyFilterDate()" placeholder="End date" formControlName="end">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="rangoFechaPicker"></mat-datepicker-toggle>
    <mat-date-range-picker #rangoFechaPicker ></mat-date-range-picker>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
      <!-- Position Column -->
      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let element">{{element.cliente.nombreApellido}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let element">{{element.fecha | date:'dd/MM/yyyy'}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element">{{element.total | currency:'G ':false:'1.0'}}</td>
      </ng-container>

      <ng-container matColumnDef="numFactura">
        <th mat-header-cell *matHeaderCellDef>Factura</th>
        <td mat-cell *matCellDef="let element">{{element.numFactura}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
