<div class="container">

  <div class="example-container">

    <mat-form-field appearance="fill">
      <mat-label>Producto</mat-label>
      <mat-select [(ngModel)]="detalle.producto">
        <mat-option *ngFor="let producto of productos" [value]="producto">
          {{producto.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Cantidad</mat-label>
      <input [(ngModel)]="detalle.cantidad" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Total detalle</mat-label>
      <input [(ngModel)]="detalle.totalDetalle" [value]="(detalle.producto.precioVenta * detalle.cantidad).toString()" matInput [disabled]="true">
    </mat-form-field>

    <button mat-button (click)="agregarDetalle()">Agregar Detalle</button>

  </div>



  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

      <!-- Weight Column -->
      <ng-container matColumnDef="producto">
        <th mat-header-cell *matHeaderCellDef>Producto</th>
        <td mat-cell *matCellDef="let element">{{element.producto.nombre}}</td>
      </ng-container>

      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef>Cantidad</th>
        <td mat-cell *matCellDef="let element">{{element.cantidad}}</td>
      </ng-container>

      <ng-container matColumnDef="totalDetalle">
        <th mat-header-cell *matHeaderCellDef>Total Detalle</th>
        <td mat-cell *matCellDef="let element">{{element.totalDetalle}}</td>
      </ng-container>

      <ng-container matColumnDef="eliminar">
        <th mat-header-cell  *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element" >
          <button mat-button (click)="eliminarDetalle(element)"> <mat-icon color="warn">delete</mat-icon> </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>

