<div class="example-container">

  <mat-form-field appearance="fill">
    <mat-label>Producto</mat-label>
    <input [(ngModel)]="detalle.producto.nombre" matInput>
  </mat-form-field>

  <button mat-button (click)="abrirModalProducto()">Elegir producto</button>

  <mat-form-field appearance="fill">
    <mat-label>Cantidad</mat-label>
    <input [(ngModel)]="detalle.cantidad" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Total detalle</mat-label>
    <input [(ngModel)]="detalle.totalDetalle" [value]="(detalle.producto.precioVenta * detalle.cantidad).toString()" matInput [disabled]="true">
  </mat-form-field>

  <button mat-button (click)="agregarDetalle()">Agregar Detalle</button>

</div>

