<h1>Reportes</h1>

<mat-tab-group>
    <mat-tab label="Reporte de ventas resumido">
        <h2></h2>
        <h2>Reporte de ventas resumido</h2>
        <app-reporte-ventas-resumido [cabeceras]="cabeceras"></app-reporte-ventas-resumido>
    </mat-tab>
    <mat-tab label="Reporte de ventas detallado">
        <h2></h2>
        <h2>Reporte de ventas detallado</h2>
        <app-reporte-ventas-detallado [cabeceras]="cabeceras"></app-reporte-ventas-detallado>
    </mat-tab>
</mat-tab-group>

