<h2>CLIENTES</h2>
<app-lista-clientes [clientes]="clientes"></app-lista-clientes>
<div class=button-row>
    <button mat-raised-button (click)="openDialog()" color="primary">Agregar Cliente</button>
</div>
